@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-color: #422208;
    --secondary-color: #A47855;
    --accent-color: #e0c8b4;
    --text-color: #221104;
    --background-color: #f7f4f1;
    }

*{
        font-family: "Poppins", sans-serif;
    }

    .wrapper {
        display: flex;
        width: 100%;
        height: 100vh;
    }

    .sidebar {
        width: 250px;
        height: 100%;
        background: #D5C5B8;
        padding: 15px;
        color: var(--text-color);
        position: fixed;
    }

    .sidebar .nav-link {
        background-color: #ebe6e1;
        border-radius: 8px;
        color: var(--text-color);
        margin-bottom: 10px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}

    .sidebar .nav-link:hover {
        background-color: #6a401d;
        color: #adb5bd;
        border-radius: 5px;
    }

    .content {
        margin-left: 250px;
        padding: 20px;
        width: calc(100% - 250px);
        overflow-y: auto;
    }

    .navbar-brand {
        font-size: 1.3rem;
        color: var(--text-color);
    }

    .navbar-brand:hover{
        color: #6a401d;
    }

    .navbar-nav .nav-item .nav-link {
        color: var(--text-color);
    }

    .navbar-nav .nav-item .nav-link:hover {
        color: #e9e1da;
    }

    .navbar {
        background-color: #A47855;
    }

    .content h1 {
        color: var(--primary-color);
        margin-bottom: 20px;
    }

    .content h2 {
        color: var(--primary-color);
        margin-bottom: 20px;
    }

    @media (max-width: 768px) {
        .wrapper {
            flex-direction: column;
        }

        .sidebar {
            width: 100%;
            height: auto;
            position: relative;
        }

        .content {
            margin-left: 0;
            width: 100%;
        }
    }

/* ?User-page */

.createStudent{
    background-color: var(--background-color);
    padding: 12px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

#add-student-form{
    #addStudentBtn{
        border-style: none;
        background-color: var(--accent-color);
        width: 100%;
        color: var(--text-color);
    }

    #addStudentBtn:hover{
        background-color: var( --secondary-color);
        color: var(--background-color);
    }
}

